[Unit]
Description=Starting web services, index.js by nodejs
After=network.target

[Service]
Environment=NODE_PORT=8888
Type=simple
ExecStart=/usr/bin/node /tmp/index.js
Restart=on-failure
